html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-play);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-play);
}

* {
  box-sizing: border-box;
}
