.container {
  display: flex;
  min-height: 95vh;
  padding: 20px;
  gap: 20px;
}

.sidebar {
  padding-top: 11px;
  width: 11%;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-family: "Press Start 2P", system-ui;
  /* margin-right: 10px; */
}

/* .menu {
  position: relative;
} */

.menu button {
  height: 40px;
  margin-right: 10px;
}
.menu button svg {
  margin-right: 5px;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 0 2px 2px var(--shadow-color);
  margin-bottom: 16px;
}
.searchForm input {
  margin-right: 10px;
  height: 40px;
  flex-grow: 1;
  z-index: 2;
  background: url("../../public/search.svg") no-repeat 7px center;
  background-color: white;
  background-size: 1.5em;
  padding-left: 2.5em;
}
.searchForm button {
  height: 40px;
}
/* .searchForm input:focus {
  box-shadow: 0 0 100px 1000px var(--shadow-color);
} */

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.link span {
  position: absolute;
  top: -10px;
  right: 0;
  background-color: orangered;
  color: white;
  /*  padding: 5px; */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.link span:hover {
  background-color: red;
}
.link p {
  margin: 0;
}
.link:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

@media screen and (max-width: 1089px) {
  .html {
    font-size: 12px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
  }
  .container aside:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .container aside:last-child {
    order: -1;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .main {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100% !important;
  }
  .sidebar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .menu button span {
    display: none;
  }
  .menu button svg {
    margin: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;
}

.tooltip {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  transform: translateX(-50%);
}

.footer {
  padding: 20px 0 0 0;
  text-align: center;
}
