.order__item {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 0 10px 10px 10px;
}

.order__item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.order__item:hover .checkIcon {
  visibility: visible;
}

.title {
  display: flex;
  align-items: center;
  user-select: none;
  padding-top: 10px;
}
.title h3 {
  margin: 0;
}
.title svg:last-child {
  margin-left: auto;
}

.checkIcon {
  fill: grey;
  margin-right: 10px;
}
.checkIcon:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.chevronIcon {
  margin-left: auto;
  transition: transform 0.3s ease;
}
.chevronIcon:hover {
  cursor: pointer;
}

.order__itemList {
  margin-top: 5px;
}
.order__itemList h3 {
  margin: 0;
}
.order__itemList img {
  object-fit: contain;
}
.order__itemList li {
  margin-bottom: 5px;
}

.product__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product__total {
  font-size: 14px;
  color: #757575;
}

.rotated {
  transform: rotate(180deg);
}

.order__done {
  border-color: green;
}

.checkButton,
.checkButton:hover {
  background: none;
  border: none;
  padding: 0;
}

.info {
  transition: all 0.3s ease;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  max-height: 0;
}

.visible {
  visibility: visible;
  max-height: 1000px;
}
