.profile {
  width: min(100%, 900px);
}

.profile__data {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar__container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #85a2bb99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar .loginIcon,
.camera {
  transform: scale(3);
  position: absolute;
  transition: all 0.5s ease;
}

.avatar .loginIcon {
  stroke: rgba(247, 247, 247, 0.5);
}

.avatar .camera {
  width: 12px;
  height: 12px;
  opacity: 0;
  visibility: hidden;
  fill: rgba(247, 247, 247, 0.5);
}
.avatar:hover {
  cursor: pointer;
}
.avatar:hover .camera {
  visibility: visible;
  opacity: 1;
}
.avatar:hover .loginIcon {
  opacity: 0;
  visibility: hidden;
}

.avatar__input {
  display: none;
}
.avatar__form {
  position: absolute;
  width: 100%;
  height: 100%;
}
.avatar__label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  border-radius: 50%;
}
.avatar__img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.profile__orders {
  width: min(100%, 900px);
}

.profile__orders__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
