.swiper {
  --swiper-navigation-color: rgba(0, 0, 0, 0.1);
}

.swiper-slide {
  user-select: none;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 80% !important;
  height: 100%;
  object-fit: contain !important;
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.mySwiper2 {
  height: 500px;
  width: 80%;
}

.mySwiper {
  height: 500px;
  width: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 100% !important;
  height: 140px !important;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide {
  width: 100% !important;
  height: 500px;
  position: relative;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-scrollbar {
  bottom: 0 !important;
  right: 0 !important;
}
.swiper-scrollbar-drag {
  opacity: 0.5 !important;
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 0) !important;
}
.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 0) !important;
}

@media screen and (max-width: 890px) {
  .mySwiper,
  .mySwiper2 {
    width: 100%;
  }
  .mySwiper {
    height: 100px;
  }
  .swiper-wrapper {
    flex-direction: row !important;
  }
  .swiper-slide {
    width: 100% !important;
    height: 100% !important;
  }
  .mySwiper .swiper-slide {
    width: 33.33% !important;
    height: 100px !important;
  }
}
