.rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  margin: 0 0 0 auto;
}

.rating input[type="radio"] {
  display: none;
  opacity: 0;
}

.rating label:not(.highlighted) {
  color: lightgrey;
}

.rating label {
  font-size: 1.5rem;
}

.rating label:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.highlighted,
.rating input[type="radio"]:checked ~ label {
  color: gold;
}
