.productCard {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  display: flex;
  gap: 20px;
}

.imgContainer {
  width: 40%;
  /* height: 300px;
  min-width: 40%;
  min-height: 300px; */
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 280px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

/* .img {
  width: 280px;
  height: 280px;
  border-radius: 10px;
  flex-shrink: 0;
  object-fit: contain;
} */

.productCard .productName,
.productCard .priceInput {
  margin: 0;
}
.priceInput,
.categoryInput {
  font-size: 24px;
  font-weight: 700;
}
.productCard .productName {
  font-size: 36px;
  font-weight: 700;
}

.price,
.category {
  margin-bottom: 10px;
}
.price form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star {
  font-size: 1.5rem;
  color: gold;
  margin: 0 0 6px 3px;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.description {
  width: 100%;
  font-family: var(--font-play);
  white-space: pre-wrap;
  font-size: 16px;
  border-radius: 10px;
  padding: 3px;
  /* column-count: 2;
  column-gap: 5px;
  column-fill: auto; */
}
.description h1,
.description h2,
.description h3,
.description h4,
.description h5,
.description h6 {
  margin: 0.5em 0;
  font-weight: bold;
  line-height: 1.1;
  text-wrap: pretty;
}

.description h1 {
  font-size: 1.4rem;
}

.description h2 {
  font-size: 1.2rem;
}

.description h3 {
  font-size: 1.1rem;
}

.description h4 {
  font-size: 1rem;
}

.editButtons,
.editButton {
  display: flex;
  gap: 5px;
  margin: 0 0 0 auto;
}

.imageForm {
  position: relative;
  height: fit-content;
  width: 40%;
}

.fileInput {
  display: none;
}

.fileLabel {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.cameraIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  fill: rgba(247, 247, 247, 0.5);
  cursor: pointer;
}

.imageForm:hover .cameraIcon {
  visibility: visible;
  opacity: 1;
}

.info {
  flex-grow: 1;
  min-height: 300px;
}

.editForm {
  width: 100%;
}

@media screen and (max-width: 890px) {
  .container,
  .title {
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 230px;
    height: 230px;
  }
  .title {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .title .productName {
    font-size: 30px;
  }
  .rating {
    margin: 0;
  }
  .info {
    width: 100%;
  }
  .imgContainer {
    width: 100%;
    flex-direction: column-reverse;
  }
  .imageForm {
    width: 100%;
  }
}
