.container {
  width: min(100%, 800px);
}
.form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.form div label {
  width: 100%;
}
.form div input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.description {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: var(--font-play);
}

.imgBtn {
  font-family: var(--font-play);
  background-color: aliceblue;
  border-radius: 8px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.imgBtn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
}

.images {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.images img {
  object-fit: contain;
}

.imageItem {
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: grab;
  position: relative;
}
.imageItem[aria-pressed="true"] {
  cursor: grabbing !important;
}

.disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}

.closeBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.closeBtn:hover {
  cursor: pointer;
  background-color: red;
}
